[Interface]
PrivateKey = {{ peer_private_key }}
Address = {{ vpn_subnet }}.{{ peer.ip }}/32

[Peer]
PublicKey = {{ server_public_key }}
Endpoint = {{ dns_endpoint }}:{{ wireguard_port }}
AllowedIPs = {{ allowed_lan_ips | join(', ') }}
PersistentKeepalive = 25
