    - name: Install WireGuard
      apt:
        name:
        - wireguard
        state: present
      become: yes

    - name: Ensure Private Key exists (Generate if missing)
      shell: "test -f /etc/wireguard/server.key || wg genkey > /etc/wireguard/server.key"
      become: yes

    - name: Read Server Private Key
      command: cat /etc/wireguard/server.key
      register: server_priv_out
      changed_when: false
      no_log: true
      become: yes

    - name: Derive Server Public Key
      shell: "cat /etc/wireguard/server.key | wg pubkey"
      register: server_pub_out
      changed_when: false
      no_log: true
      become: yes

    - name: Ensure local config directory exists
      file:
        path: "~/wireguard/configs/keys"
        state: directory
      delegate_to: localhost
      become: no

    - name: Generate or Load Peer Private Keys
      shell: |
        KEY_PATH="$HOME/wireguard/configs/keys/{{ item.name }}.key"
        if [ -f "$KEY_PATH" ]; then
          cat "$KEY_PATH"
        else
          # Ensure the directory exists just in case (Safety First!)
          mkdir -p "$(dirname "$KEY_PATH")"
          wg genkey | tee "$KEY_PATH"
        fi
      register: peer_private_keys
      delegate_to: localhost
      loop: "{{ peers }}"
      loop_control:
        index_var: my_idx
      no_log: true

    - name: Derive Peer Public Keys
      shell: "echo {{ item.stdout }} | wg pubkey"
      register: peer_public_keys
      delegate_to: localhost
      become: no
      loop: "{{ peer_private_keys.results }}"
      changed_when: false
      no_log: true

    - name: Deploy Server Config
      template:
        src: wg1.conf.j2
        dest: /etc/wireguard/wg1.conf
      vars:
        server_private_key: "{{ server_priv_out.stdout }}"
      notify: Restart WireGuard
      become: yes

    - name: Ensure WireGuard is started and enabled
      ansible.builtin.systemd:
        name: wg-quick@wg1
        state: started
        enabled: yes
      become: yes

    - name: Generate Client Configs on The Local Host
      template:
        src: peer_config.conf.j2
        dest: "~/wireguard/configs/{{ peer.name }}.conf"
      delegate_to: localhost
      loop: "{{ peers }}"
      loop_control:
        index_var: my_idx
        loop_var: peer
      vars:
        peer_private_key: "{{ peer_private_keys.results[my_idx].stdout }}"
        server_public_key: "{{ server_pub_out.stdout }}"
